@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

/* globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1-gr: #00372d;
    --color-2-ye-dk: #aa9049;
    --color-3-ye-li: #ffbd59;
    --color-4-re-dk: #782722;
    --color-5-re-li: #b62d29;
    --color-6-wh: #f4f6ed;
}

/* index */

body {
    background-color: var(--color-1-gr);
    color: var(--color-6-wh);
    font-size: 1.4rem;
    font-weight: 700;
}

section {
    margin: 2rem 0;
}

/* Carousel */

.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
    animation: fadeVisibility 0.5s;
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


    /* Navigation control styles */
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: var(--color-6-wh);
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;
}

.carousel-dots {
    text-align: center;
}

.dot {
    pointer-events: none;
    opacity: 0.7;
}

.dot:focus {
    border: 1px solid var(--color-4-re-dk);
}

/* handle smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Landing Page */



#landing-page {
    height: 100vh;    
}

.upper,
.lower {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.upper {
    margin-bottom: 5%;
}



.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.logo {
    background: url('../images/project_logo.png')no-repeat center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.product {
    background:url('../images/product.jpg')no-repeat center;
    background-size: cover;
    width: 300px;
    height: 300px;  
}

.text-align {
    text-align: center;    
}

.left h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    font-family: "Redhat", sans-serif;
}

.left {
    align-self: center;
    width: 50%;
}

/* About Section */

.about-section h2 {
    text-align: center;
}

/* Map Section  */

#map { 
    height: 500px;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
}

.map-popup {
    max-height: 200px;
    max-width: 200px;
}

.map-wishes {
    font-style: italic;
    font-weight: 400;
}

    /* Overwrite the position of the content on the popup */
.leaflet-popup-content {
    text-align: center;
}
