/* globals */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00372d;
    --secondary-color: #f4f6ed;
}

/* nav bar */

.navbar {
    height:150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
    padding: 50px;
   }

#logo {
    height: 150px; 
    width: 150px;
}

#menu li {
    display: inline-flex;
    list-style-type: none;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
}

  #menu a:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* index */

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 700;
}

section {
    margin: 2rem 0;
}

section>* {
    padding: 1rem;
}


/* Carousel */

.carousel {
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel .carousel-item,
.carousel .carousel-item-hidden {
    display: none;
    /* hide all slide images not currently being viewed */
}

.carousel .carousel-item-visible {
    display: block;
    /* show current slide image */
    animation: fadeVisibility 0.5s;
    /* for fading effect when switching between slides */
}

.carousel .carousel-item img {
    width: 100%;
    max-width: 100%;
    height: auto;
}


/* Navigation control styles */
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* put space between the navigation buttons */
    position: absolute;
    /* position navigation buttons on top */
    top: 50%;
    /* center navigation buttons on the slide */
    transform: translateY(-50%);
    /* align navigation buttons */
}

.carousel .carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.carousel .carousel-actions button#carousel-button-prev {
    margin-left: 20px;
    /* prevent previous button from touching the side*/
}

.carousel .carousel-actions button#carousel-button-next {
    margin-right: 20px;
    /* prevent next button from touching the side*/
}

.carousel-dots {
    text-align: center;
}

.dot {
    opacity: 0.7;
    /* gray out dots for slides not being visted */
}

.dot:focus {
    border: 1px solid black;
    /* dot for currently visited slide */
}

/* hanlde smooth transitions between slides */
@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Landing Page */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

#landing-page {
    height: 100vh;    
}

.upper,
.lower {
    display: flex;
    align-items: center;
    justify-content: center;    
}

.upper {
    margin-bottom: 5%;
}



.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: black;
}

.logo {
    background:url('../images/project_logo.png')no-repeat center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.product {
    background:url('../images/product.jpg')no-repeat center;
    background-size: cover;
    width: 300px;
    height: 300px;  
}

.text-align {
    text-align: center;    
}

.left h1 {
    font-size: 3rem;
    margin-bottom: 25px;
    font-family: "Redhat", sans-serif;
}

.left {
    align-self: center;
    width: 50%;
}

/* About Section */

.about-section h2 {
    text-align: center;
}

/* Map Section  */
#map { 
    height: 500px;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
}

.map-popup {
    max-height: 200px;
    max-width: 200px;
}

.map-wishes {
    font-style: italic;
    font-weight: 400;
}

/* Overwrite the position of the content on the popup */
.leaflet-popup-content {
    text-align: center;
}
footer li {
    font-size: small;
    height:150px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    }

